#####################################################################
#   File locations and on error handling
#####################################################################
[virtual_sdcard]
path: /home/mquero/printer_data/gcodes
on_error_gcode: CANCEL_PRINT


#####################################################################
#   Device ID's
#####################################################################
[mcu]
canbus_uuid: d28ee6e3fce6

# [mcu EBBCan]
# canbus_uuid: cd407005594f 
# canbus_interface: can1


#####################################################################
#   Basic Klipper and Printer setup
#####################################################################
[printer]
kinematics: corexy
max_velocity: 500
max_accel: 20000   	
max_z_velocity: 35		
max_z_accel: 300	
square_corner_velocity: 5
minimum_cruise_ratio: 0.0

[exclude_object]
[print_stats]

[gcode_arcs]
resolution: 0.05

[idle_timeout]
timeout: 3600

[force_move]
enable_force_move: True


#####################################################################
#   Includes
#####################################################################

## Configuration files
[include mainsail.cfg]
[include config/stealthburner_leds.cfg]
[include config/extruder.cfg]
[include config/steppers.cfg]
[include config/temperature_sensors.cfg]
[include config/homing.cfg]
# [include config/fans.cfg]
# [include config/disco.cfg]
[include config/input_shaper.cfg]
# [include config/display.cfg]

# ## Macros
# [include macros/stealthmax_macros.cfg]
# [include macros/movement_macros.cfg]
# [include macros/LED_macros.cfg]
# [include macros/printing_macros.cfg]
# [include macros/print_start_end.cfg]

# ## Cartographer macro
# [include macros/cartographer_macros.cfg]

# ## MMU Macros
# [include mmu/optional/client_macros.cfg]
# [include mmu/addons/blobifier.cfg]
# [include macros/custom_blobifier.cfg]
# [include macros/custom_mmu_macros.cfg]

# [include macros/mmu_fan_control.cfg]

## Timelapse
[include timelapse.cfg]
