#####################################################################
# 	Fan Settings
#####################################################################

[controller_fan drivers_fan]
pin: PA6
hardware_pwm: True
cycle_time: 0.00004
kick_start_time: 0.5
off_below: 0.20
fan_speed: 0.8
idle_timeout: 60

tachometer_pin: ^PC2
tachometer_ppr: 2
tachometer_poll_interval: 0.0015

stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, stepper_z3


[controller_fan skirt_fan]
pin: PA2
hardware_pwm: True
cycle_time: 0.00004
kick_start_time: 0.5
off_below: 0.20
fan_speed: 0.4
idle_timeout: 90
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, stepper_z3
heater: extruder, heater_bed

tachometer_pin: ^PC1
tachometer_ppr: 2
tachometer_poll_interval: 0.0015
