#####################################################################
# 	Z Homing, QGL and Bed Mesh Settings
#####################################################################
[mcu scanner]
canbus_uuid: ed3fb14ae655 

[scanner]
mcu: scanner            
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 30                         
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.01952
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc      
mesh_runs: 2
#    Number of passes to make during mesh scan.

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420

points:
	40,10
	40,275
	310,275
	310,10
    
speed: 350
horizontal_move_z: 20
retries: 50
retry_tolerance: 0.0075
max_adjust: 15

[bed_mesh]
zero_reference_position: 175, 175    
#    set this to the middle of your bed
speed: 350
#    movement speed of toolhead during bed mesh
horizontal_move_z: 0
#    height of scanner during bed mesh scan
mesh_min: 40, 40
#    start point of bed mesh [X, Y]
mesh_max: 310, 305
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic
bicubic_tension: 0.2





